@charset "utf-8";
/*首页*/
.home{
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 1080px;
}
.home-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1080px;
}
.home-bg img{
	display: block;
	width: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
}
.homeImg1{
	margin-left: -2000px;
}
.homeImg2{
	margin-left: -2000px;
}
.homeImg3{
	margin-left: -2000px;
}
.homeImg4{
	height: 250px;
	margin-left: -2000px;
}
.homeMask{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1080px;
	background: #000;
	opacity: .3;
	filter: alpha(opacity=30);
}
.homeDes{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.homeDes-false{
	display: none;
}
.homeDes-true{
	margin-top: 200px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	font-size: 16px;
}
.goMyhome{
	position: absolute;
	left: 0%;
	top: 0%;
	margin: -34px -46px 0 0;
	width: 186px;
	height: 280px;
	background: url(../images/panda2.png) no-repeat;
	transition: all 5s cubic-bezier(0.27, 1.01, 0.85, 1.35);
}

/*背景色*/

.bg {
    background: #9966CC;
    width: 100%;
   	background: url(../images/myHome_bg.jpg) no-repeat;
   	height: 800px;
}

